@import "./variables.scss";

.cndr-header {
  display: flex;
  justify-content: center;

  .cndr-header-container {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 20vw;
    margin-top: 20px;
    border-radius: 60px;
    border-color: 1px solid $weak-gray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    .cndr-header-item {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        line-height: 50px;
        padding: 10px 0;

        .cndr-icon {
          font-size: 26px;
        }

        :hover {
          color: $tertiary-color-hover;
        }
      }
    }
  }
}
