@import "./variables.scss";

.cndr-header {
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  z-index: 1;

  .cndr-header-container {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 20vw;
    width: 20vw;
    margin-top: 20px;
    border-radius: 60px;
    border-color: 1px solid $weak-gray;
    box-shadow: $primary-box-shadow;
    transition: width 0.5s ease;

    .cndr-header-item {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 0;
        font-size: 18px;
        font-weight: bold;

        .cndr-icon {
          font-size: 26px;
        }

        :hover {
          color: $tertiary-color-hover;
        }
      }
    }
  }

  .wide-cndr-header-container {
    width: 40vw;
  }
}
