@import "./variables.scss";

.stp-header {
  display: flex;
  justify-content: center;

  .stp-header-container {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    margin-top: 20px;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    .stp-header-item {

        a {
            text-decoration: none;
            line-height: 50px;
            font-size: 18px;
        }
    }
  }
}
