@import "./variables.scss";

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cndr-home-page-container {
  opacity: 0;
  &.left-aligned {
    animation: slideInFromLeft 1.5s forwards;
  }
  &.right-aligned {
    animation: slideInFromRight 1.5s forwards;
  }
}

#cndr-home-page-introduction {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
  }
}

#register-now-home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.cndr-main-home-page-container {
  display: flex;
  flex-direction: column;
  margin: 30px 10vw;

  .cndr-home-page-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 25px;
    align-items: center;
    padding: 15px 25px;
    box-shadow: $primary-box-shadow;
    border-radius: 15px;
    border: 1px solid $weakest-gray;

    .text-container {
      display: flex;
      flex-direction: column;
    }

    #register-now-container {
      display: flex;
      justify-content: center;
    }
  }

  .left-aligned {
    width: 75%;
    margin-right: auto;
    margin-left: 0;
  }

  .right-aligned {
    width: 75%;
    margin-left: auto;
    margin-right: 0;
  }
}
