@import "./variables.scss";

.cndr-black-color {
  color: $secondary-color;
  font-weight: bold;
}

.main-body-container {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cndr-tertiary-button {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
  border-radius: 5px;
  color: $primary-color;
  font-weight: bold;
  padding: 4px 10px;
  transition: background-color 0.1s;
  font-size: 18px;
  text-decoration: none;
  box-shadow: $button-box-shadow;

  &:hover {
    background-color: $tertiary-color-hover;
    border-color: $tertiary-color-hover;
    color: $primary-color;
  }
}