@import "./variables.scss";

.cndr-black-color {
  color: $secondary-color;
  font-weight: bold;
}

.main-body-container {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
