$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$tertiary-color: #0081f2;
$weak-gray: rgb(111, 111, 111);
$weaker-gray: rgb(177, 177, 177);
$weakest-gray: rgb(222, 222, 222);
$tertiary-color-hover: #045ac4;

