@model Cinder.Models.Room

<h2>Create/Edit Room</h2>

<form class="cinder-form" asp-action="AddRoom" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id_Property" value="@ViewBag.PropertyId" />

    <div class="form-group">
        <label asp-for="Type" class="control-label">Room Type</label>
        <select asp-for="Type" class="form-control">
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="triple">Triple</option>
            <option value="quad">Quad</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Image</label>
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Utilities" class="control-label">Utilities</label>
        <input asp-for="Utilities" class="form-control" />
        <span asp-validation-for="Utilities" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MoveInDate" class="control-label">Move In Date</label>
        <input asp-for="MoveInDate" type="date" class="form-control" />
        <span asp-validation-for="MoveInDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MoveOutDate" class="control-label">Move Out Date</label>
        <input asp-for="MoveOutDate" type="date" class="form-control" />
        <span asp-validation-for="MoveOutDate" class="text-danger"></span>
    </div>

    @* <div class="form-group">
    <label asp-for="Furnishings" class="control-label">Furnishings</label>
    <input asp-for="Furnishings" class="form-control" />
    <span asp-validation-for="Furnishings" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="SquareMeters" class="control-label">Square Meters</label>
        <input asp-for="SquareMeters" class="form-control" />
        <span asp-validation-for="SquareMeters" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Heating" class="control-label">Heating</label>
        <select asp-for="Heating" type="checkbox" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="Heating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cooling" class="control-label">Cooling</label>
        <select asp-for="Cooling" type="checkbox" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="Cooling" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrivateBathroom" class="control-label">Private Bathroom</label>
        <select asp-for="PrivateBathroom" type="checkbox" class="form-control">\
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="PrivateBathroom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrivateKitchen" class="control-label">Private Kitchen</label>
        <select asp-for="PrivateKitchen" type="checkbox" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="PrivateKitchen" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrivateBalcony" class="control-label">Private Balcony</label>
        <select asp-for="PrivateBalcony" type="checkbox" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="PrivateBalcony" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrivateTerrace" class="control-label">Private Terrace</label>
        <select asp-for="PrivateTerrace" type="checkbox" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="PrivateTerrace" class="text-danger"></span>
    </div>
    <div class="form-group radio-select">
        <label>Do you want to add another room?</label>
        <label>
            <input type="radio" name="addAnother" value="true" required />Yes
        </label>
        <label>
            <input type="radio" name="addAnother" value="false" required />No
        </label>
    </div>
    <button type="submit" class="btn btn-primary cinder-button">Save</button>
</form>
