<div id="cndr-home-page-introduction">
    <h1>Log in, match, move in.</h1>
    <h2>Find your roommate today!</h2>
</div>
<div id="register-now-home-page-container">
    <button class="cndr-tertiary-button">
        Register Now!
    </button>
</div>
<div class="cndr-home-page-container">
    <img id="home-page-img-1" src="~/Assets/Home Page Illustration 1.png" alt="Home Page Illustration" width="250" height="250">
</div>